In [10]:
%pip install --upgrade pip
%pip install pandas
%pip install numpy
%pip install psycopg2
%pip install python-dotenv

Requirement already satisfied: pip in /opt/homebrew/lib/python3.10/site-packages (24.3.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.10/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/ckj/Library/Python/3.10/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/lib/python3.10/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /Users/ckj/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: numpy in /opt/homebrew/lib/python3.10/site-packages (2.1.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: psycopg2 in /opt/homebrew/lib/python3.10/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.
Collecting python-dotenv
  Using cached python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Using cached python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
import os
import pandas as pd
import numpy as np
import psycopg2
from datetime import datetime
from dotenv import load_dotenv

In [2]:
# database config params
load_dotenv()

db_config = {
    "dbname": os.getenv("DB_NAME"),
    "user": os.getenv("DB_USER"),
    "password": os.getenv("DB_PASSWORD"),
    "host": os.getenv("DB_HOST"),
    "port": os.getenv("DB_PORT")
}

In [3]:
# get data from database
def get_data(query):
    connection = psycopg2.connect(**db_config)
    try:
        df = pd.read_sql_query(query, connection)
    except Exception as e:
        print("Database connection failed due to {}".format(e)) 
    finally:
        connection.close()

    return df

In [4]:
# load all datasets
users_df = get_data("SELECT * FROM users")
trades_df = get_data("SELECT * FROM trades")

/var/folders/4t/jfxk0vxj3w7d5w6fvjxd7b7c0000gn/T/ipykernel_35600/3380552990.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, connection)

In [36]:
users_df.head(10)

,login_hash,server_hash,country_hash,currency,enable
0,03A15F382AF3D505592CA69EFD4DC431,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1
1,F8ADF5FF9840712CE2AF7FA9EA2A3FA7,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1
2,B78CD788AB20A5D61CB13BD5389CABB3,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1
3,DEFB729116227EF8582BFEC65F998489,76791A893BDB9A68E8EE44898D581A60,103357E3E40A9C0E4E9D36110F7BBC7A,USD,1
4,9EAD9A73AA6C93823C56BB8C2E798B45,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1
5,A244C34BC761A97487485F0FF5A43A49,3D1F7E00251C43107EF39F55300781DB,4442E4AF0916F53A07FB8CA9A49B98ED,AUD,1
6,320E61C42ECF023CAFE14891CF0158EF,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1
7,EBF2C7DC4D5AF44E0B67749299ED9520,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1
8,2BC2E3348A7BF6EB355EF0B1823FE531,76791A893BDB9A68E8EE44898D581A60,4442E4AF0916F53A07FB8CA9A49B98ED,USD,1
9,1A825113C3CC7A193A8F8A49AC70435B,76791A893BDB9A68E8EE44898D581A60,AE54A5C026F31ADA088992587D92CB3A,USD,1

In [49]:
trades_df.head(5)

,login_hash,ticket_hash,server_hash,symbol,digits,cmd,volume,open_time,open_price,close_time,contractsize,trade_duration
0,0DF500A57244E5B1670277767BEBB554,B321DC57F3B410507B986DD8962F8B1C,2F1CA40D76D7E6165DBA3924CE0D3B5C,EURUSD,5,1,5,2020-08-19 12:19:11,1.19459,2020-08-19 12:48:09,100000.0,1738.0
1,6D66E192834605522190E51BF226FF5B,F68DA930EE1129D94EDFA02EBAF9E7B4,2F1CA40D76D7E6165DBA3924CE0D3B5C,XAUUSD,2,1,1,2020-08-28 03:09:02,1925.48000,2020-08-28 06:03:45,100.0,10483.0
2,04852EC1A7D9FB8A291A24DDCE8C62B9,E351B480079ADEC7F6E6BE3ACEEA6EDF,2F1CA40D76D7E6165DBA3924CE0D3B5C,EURGBP,5,0,10,2020-08-25 13:47:34,0.90157,2020-09-08 12:20:43,100000.0,1204389.0
3,E62BE617269467931F2239C2771605C2,363723A73A926A7434E815F2F1D5ED61,2F1CA40D76D7E6165DBA3924CE0D3B5C,XAUUSD,2,1,10,2020-08-28 02:46:57,1926.68000,2020-08-28 02:51:13,100.0,256.0
4,54D2B4C5ECAE5FBC316524329846F81E,9CD4110328DA4CD71FFE0BE486D51094,2F1CA40D76D7E6165DBA3924CE0D3B5C,XAUUSD,2,1,85,2020-08-11 09:27:28,1999.12000,2020-08-11 09:27:54,100.0,26.0

In [10]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   login_hash    1000 non-null   object
 1   server_hash   1000 non-null   object
 2   country_hash  1000 non-null   object
 3   currency      1000 non-null   object
 4   enable        1000 non-null   int64
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [11]:
trades_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   login_hash    100000 non-null  object
 1   ticket_hash   100000 non-null  object
 2   server_hash   100000 non-null  object
 3   symbol        100000 non-null  object
 4   digits        100000 non-null  int64
 5   cmd           100000 non-null  int64
 6   volume        100000 non-null  int64
 7   open_time     100000 non-null  datetime64[ns]
 8   open_price    100000 non-null  float64
 9   close_time    100000 non-null  datetime64[ns]
 10  contractsize  99993 non-null   float64
dtypes: datetime64[ns](2), float64(2), int64(3), object(4)
memory usage: 8.4+ MB

Note:

We can already see that there are missing values in the contractsize column.

In [12]:
print("Users DataFrame Description:")
print(users_df.describe())

print("\nTrades DataFrame Description:")
print(trades_df.describe())

Users DataFrame Description:
            enable
count  1000.000000
mean      0.973000
std       0.162164
min       0.000000
25%       1.000000
50%       1.000000
75%       1.000000
max       1.000000

Trades DataFrame Description:
              digits            cmd         volume  \
count  100000.000000  100000.000000  100000.000000
mean        3.214250       0.448170      17.986650
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       1.000000
50%         2.000000       0.000000       3.000000
75%         5.000000       1.000000      10.000000
max         5.000000       1.000000   10000.000000
std         1.463171       0.497309     100.438786

                           open_time     open_price  \
count                         100000  100000.000000
mean   2020-08-15 20:10:26.219120128    1262.544975
min              2020-08-03 00:01:05       0.591670
25%              2020-08-07 15:46:16       1.190937
50%              2020-08-13 23:32:38    1887.590000
75%    2020-08-24 12:40:05.249999872    1967.152500
max              2020-08-31 23:58:39   28795.000000
std                              NaN    2585.110285

                          close_time   contractsize
count                         100000   99993.000000
mean   2020-09-20 09:15:52.871069952   44856.840239
min              2020-08-03 00:36:19       1.000000
25%              2020-08-07 17:13:20     100.000000
50%       2020-08-14 10:16:13.500000     100.000000
75%              2020-08-25 23:01:06  100000.000000
max              2022-08-18 23:57:18  100000.000000
std                              NaN   49669.111281

**Testing**

In [17]:
#Check for NULLs and missing values

def check_for_nulls(df):
    null_counts = df.isnull().sum()
    if null_counts.any():
        print(f"NULL values detected at column:\n{null_counts[null_counts > 0]}")

check_for_nulls(users_df)
check_for_nulls(trades_df)

NULL values detected at column:
contractsize    7
dtype: int64

Note:

Missing values detected in the trade table contractsize column, they should be removed or replaced.

In [21]:
# Check for unexpected numerical values

# check for numerical range
def check_unexpected_numerical(df, column, min_value, max_value):
    unexpected_values = df[(df[column] < min_value) | (df[column] > max_value)]
    if not unexpected_values.empty:
        print(f"Unexpected numerical values in {column}:\n{unexpected_values}")

# check for specific values
def check_specific_numerical_values(df, column, allowed_values):
    unexpected_values = df[~df[column].isin(allowed_values)]
    if not unexpected_values.empty:
        print(f"Unexpected values in {column}:\n{unexpected_values}")

# Check if all values in the column are integers
def check_all_integers(df, column):
    if not df[column].apply(lambda x: isinstance(x, int) or (isinstance(x, float) and x.is_integer())).all():
        print(f"Non-integer values found in {column}")


check_specific_numerical_values(users_df, 'enable', allowed_values={0,1})     # 'enable' should be either 0 or 1
check_specific_numerical_values(trades_df, 'cmd', allowed_values={0,1})     # 'cmd' should be either 0 or 1
check_specific_numerical_values(trades_df, 'contractsize', allowed_values={1, 10, 100, 1000, 100000})  # it seems 'contractsize' should be like this

check_all_integers(trades_df, 'digits') # 'digits' should be integers
check_all_integers(trades_df, 'volume') # 'volume' should be integers

Unexpected values in contractsize:
                             login_hash                       ticket_hash  \
869    2BCA9F6675B4F907E51DE5570E443D2B  B883EA07D74C0EB619A7ECC92F59312C
6752   32DE9EECD10691C33D28F716CC255364  7EB45147326758A1128032D6D67E2235
7818   2BCA9F6675B4F907E51DE5570E443D2B  3A4199B38A115C61789D3611B1490381
8371   87664AA1F50A83BB2429989AA470A167  DDBAA964028BEBBDFF5EC91F9C268829
76794  2BCA9F6675B4F907E51DE5570E443D2B  87E404EF518982E7B276442506AFF3B4
92109  D33487486545A737682F7D1E5ECEABD8  EFC383645A70715146570CF4B4AF2607
97721  2BCA9F6675B4F907E51DE5570E443D2B  EE9AA9FD12760CDD3F86FE72F84CFD0A

                            server_hash  symbol  digits  cmd  volume  \
869    2F1CA40D76D7E6165DBA3924CE0D3B5C  COFFEE       2    1     100
6752   3D1F7E00251C43107EF39F55300781DB  COFFEE       2    0     100
7818   2F1CA40D76D7E6165DBA3924CE0D3B5C  COFFEE       2    0     100
8371   3D1F7E00251C43107EF39F55300781DB  COFFEE       2    0     100
76794  2F1CA40D76D7E6165DBA3924CE0D3B5C  COFFEE       2    1     100
92109  2F1CA40D76D7E6165DBA3924CE0D3B5C  COFFEE       2    1     100
97721  2F1CA40D76D7E6165DBA3924CE0D3B5C  COFFEE       2    1     100

                open_time  open_price          close_time  contractsize
869   2020-08-19 15:46:03      121.37 2020-08-19 16:26:32           NaN
6752  2020-08-11 16:33:22      112.89 2020-08-12 16:51:29           NaN
7818  2020-08-14 17:04:35      118.54 2020-08-14 19:51:32           NaN
8371  2020-08-03 13:43:47      118.95 2020-08-05 16:18:59           NaN
76794 2020-08-19 13:59:06      121.68 2020-08-19 15:13:10           NaN
92109 2020-08-31 18:32:06      127.67 2020-08-31 19:26:24           NaN
97721 2020-08-17 12:10:50      115.55 2020-08-17 14:54:03           NaN

It seems there are no unexpected values in numerical columns.

However, there seems to be an invalid symbol called "COFFEE" that should be removed.

In [27]:
# check for unexpected dates

def detect_close_before_open(df, open_column='open_time', close_column='close_time'):
    # Identify rows where close_date is before open_date
    anomalies = df[df[close_column] < df[open_column]]
    if not anomalies.empty:
        print(f"Rows with {close_column} prior to {open_column}:\n{anomalies}")

detect_close_before_open(trades_df)

Note:

No close before open time.

In [54]:
# Check for unexpected strings
import re

def check_hash_values(df, column, expected_length=32):
    # Regular expression for a valid hexadecimal string of the specified length
    hash_pattern = re.compile(r'^[A-F0-9]{' + str(expected_length) + r'}$')
    
    # Check each value in the column for compliance with the hash format
    invalid_hashes = df[~df[column].apply(lambda x: bool(hash_pattern.match(x)))]
    
    if not invalid_hashes.empty:
        print(f"Invalid hash values in column '{column}':\n{invalid_hashes}")
    else:
        print(f"All values in column '{column}' are valid hashes of length {expected_length}.")

check_hash_values(trades_df, 'login_hash')
check_hash_values(trades_df, 'ticket_hash')
check_hash_values(trades_df, 'server_hash')
check_hash_values(users_df, 'login_hash')
check_hash_values(users_df, 'country_hash')
check_hash_values(users_df, 'server_hash')

All values in column 'login_hash' are valid hashes of length 32.
All values in column 'ticket_hash' are valid hashes of length 32.
All values in column 'server_hash' are valid hashes of length 32.
All values in column 'login_hash' are valid hashes of length 32.
All values in column 'country_hash' are valid hashes of length 32.
All values in column 'server_hash' are valid hashes of length 32.

In [51]:
def check_unexpected_symbols(df, unexpected_symbol):
    unexpected_rows = df[df['symbol'] == unexpected_symbol]
    if not unexpected_rows.empty:
        print(f"Unexpected symbol '{unexpected_symbol}' found in the trades table:\n", len(unexpected_rows))

check_unexpected_symbols(trades_df, unexpected_symbol="COFFEE")

Unexpected symbol 'COFFEE' found in the trades table:
 7

Note:

there are 7 rows with the wrong symbol "COFFEE", exactly the rows with missing contractsize

In [59]:
# Data Integrity Checks

# check records with the same login_hash value should have the same server_hash value
def check_login_server_consistency(users_df, trades_df):

    combined_df = pd.concat([users_df[['login_hash', 'server_hash']], trades_df[['login_hash', 'server_hash']]])
    inconsistent_logins = combined_df.groupby('login_hash')['server_hash'].nunique()
    
    # Filter to find login_hash entries associated with more than one server_hash
    inconsistent_logins = inconsistent_logins[inconsistent_logins > 1]
    
    if not inconsistent_logins.empty:
        print("The following login_hash values are associated with multiple server_hash values:")
        for login_hash, count in inconsistent_logins.items():
            print(f"login_hash: {login_hash}, unique server_hash count: {count}")
    else:
        print("No inconsistencies found.")

# check records with the same ticket_hash value should have the same server_hash value
def check_ticket_server_consistency(trades_df):

    inconsistent_logins = trades_df.groupby('ticket_hash')['server_hash'].nunique()
    inconsistent_logins = inconsistent_logins[inconsistent_logins > 1]
    
    if not inconsistent_logins.empty:
        print("The following ticket_hash values are associated with multiple server_hash values:")
        for ticket_hash, count in inconsistent_logins.items():
            print(f"ticket_hash: {ticket_hash}, unique server_hash count: {count}")
    else:
        print("No inconsistencies found.")

check_login_server_consistency(users_df, trades_df)
check_ticket_server_consistency(trades_df)

No inconsistencies found.
No inconsistencies found.

Note:

No inconsistencies for joining